node_modules
dist
build
coverage

# Pliki logów
*.log

# Katalogi środowisk deweloperskich i IDE
.idea
.vscode

# Pliki systemowe macOS
.DS_Store

# Pliki miniatur Windows
Thumbs.db

# Repozytorium Git
.git
.gitignore